body{
    min-width: 500px;
    overflow: scroll;
  }
  * {
    margin: 0;
    font-family: Arial;
    box-sizing: border-box;
  }

  a {
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
  .navbar {
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  
  .nav-logo {
    height: 50px;
    width: 100px;
  }